.bg-gradient-1 {
	background: linear-gradient(45deg, #dfdedd 18%, #c7c6c5 82%);
}
.bg-gradient-2 {
	background: linear-gradient(45deg, #2a2b29 18%, #171615 82%);
}
.bg-gradient-3 {
	background: linear-gradient(45deg, #7b7a79 18%, #535251 82%);
}
